
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  background-image: linear-gradient(to right, lightblue, darkblue);
  border-radius: 10px;
  box-shadow: 3px 2px 2px 2px lightblue,inset 2.5px 0px 0px 1.5px darkblue;
}

.form input{
padding: 10px;
border-radius: 5px;
}
.btn{
  
  color: blue;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(26, 83, 40);
  color: white;
}